.root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px 4px 4px;
  gap: 4px;
  border: 2px solid $color-grey1;
  border-radius: $border-xl;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;

  &:hover:not(:disabled) {
    border-color: $color-blue4;
  }

  &.solid {
    background-color: $color-blue3;
    border-color: transparent;
  }

  &.outline {
    background-color: $color-white;
    border-color: $color-grey1;
  }

  &.ghost {
    background-color: transparent;
    border: none;
    box-shadow: none;

    &:hover:not(:disabled) {
      background-color: transparent;
      color: $color-blue4;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    color: inherit;
  }
}
