.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
  min-height: 100px;
  flex-shrink: 0;
  border: 2px solid transparent;
  padding: $spacing-16;
  background: $color-white;
  border-radius: 8px;

  &:hover {
    border-color: $color-blue4;

    .draggableButton {
      display: block;
    }
  }
}

.draggableButton {
  display: none;
  position: absolute;
  cursor: move;
  right: 16px;
  top: 16px;
}

.title, .description {
  line-height: 140%;
  min-height: 20px;
  max-height: 40px;
}

.title {
  padding-right: $spacing-24;

  &.display {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.description {
  font-weight: 500;
  color: $color-grey3;
  overflow: auto;

  &.display {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.actions {
  display: flex;
  gap: $spacing-8;
}
