/* Colors */
$color-black: rgba(0, 0, 0, 0.9);
$color-white: #ffffff;

$color-grey1: rgba(0, 0, 0, 0.05);
$color-grey2: rgba(0, 0, 0, 0.12);
$color-grey3: rgba(0, 0, 0, 0.3);

$color-blue1: #eceff2;
$color-blue2: #cfd3d6;
$color-blue3: #ced9e3;
$color-blue4: #007aff;

$color-orange1: #ff9500;

$color-purple1: #5856d6;

$color-red1: #ff2d55;

$color-green1: #34c759;

/* Paddings */
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;

/* Borders */
$border-xs: 8px;
$border-sm: 12px;
$border-xl: 50px;
