
/* Colors */
$color-black: rgba(0, 0, 0, 0.9);
$color-white: #FFFFFF;

$color-grey1: rgba(0, 0, 0, 0.05);
$color-grey3: rgba(0, 0, 0, 0.3);

$color-blue1: #ECEFF2;
$color-blue2: #CFD3D6;
$color-blue3: #CED9E3;
$color-blue3: #007AFF;

$color-orange1: #FF9500;

$color-purple1: #5856D6;

$color-red1: #FF2D55;

$color-green1: #34C759;

/* Paddings */
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-24: 24px;
