.root {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 448px;
  max-width: 650px;
  height: 100%;
  background-color: $color-blue1;
  border-radius: $border-sm;
  gap: $spacing-16;
  padding: $spacing-16;

  &.disabled {
    background-color: rgb($color-blue1, 0.5);

    .title {
      opacity: 0.5;
    }

    .name {
      cursor: default;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-8;
}

.title {
  font-size: 13px;
  display: flex;
  gap: $spacing-8;
  overflow: hidden;
}

.name {
  color: $color-grey3;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  gap: $spacing-8;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: $spacing-8;
}

.cards {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;
}

.newCardButton {
  padding: $spacing-8;
  border-radius: $border-xs;
}

.footer {
  display: flex;
  justify-content: center;
  gap: $spacing-8;
}

.sortButton {
  color: $color-grey3;
}

.sortButtonPrefix {
  color: $color-black;
}
